{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/zebra_datepicker.css' %}" type="text/css">

{% endblock extra_css %}
{% block content %}
<div class="main-content">

    <div class="page-content">
        {% include 'messages.html' %}
        <div class="container-fluid">
            {% if form.errors %}
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            <div class="row" style="justify-content:center">
                <div class="col-xxl-12">
                    <div class="card  mt-4">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">{{ form_title }}</h4>
                           
                        </div><!-- end card header -->

                        <div class="card-body">
                           
                            <div class="live-preview">
                                <form action="" method="post">{% csrf_token %}
                                    <div class="row">

                                        {% for field in form %}
                                            <div class="col-md-{% if single_field %}12{% else %}4{% endif %}">
                                                <!-- Input with Label -->
                                                <div class="mb-3">
                                                    <label for="{{field.id}}" class="form-label">{{ field.label }}</label>
                                                    {{ field }}
                                                    {{ field.errors }}
                                                </div>
                                                
                                            </div>
                                        {% endfor %}
                                        <div class="col-lg-12">
                                            <div class="text-end">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light" style="width:300px">Save</button>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>

                                    <div class="row">
                                        
                                        {% with named_formsets.machines as formset %}  
        {{ formset.management_form }}
        
        <script type="text/html" id="images-template">  
            <tr id="images-__prefix__" class= "hide_all">  
                {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }}
                {% endfor %}
            
                {% for fields in formset.empty_form.visible_fields %}
                    <td>{{fields}}</td>
                {% endfor %}
                
            </tr>
        </script>
        <div class="card mt-4">
            <div class="card-header card-header-secondary">
                <h4 class="card-title">Add Machines</h4>
            </div>
            <div class="table-responsive table-card my-3">
                <table class="table align-middle table-nowrap table-striped-columns mb-0">
               
                    <tbody id="item-images">  <!-- id="item-inlineformsetname" -->
                        <!-- formset non forms errors -->
                        {% for error in formset.non_form_errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                        {% for formss in formset %}
                            {{ formss.management_form }}
                            <tr id="images-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                                {{ formss.id }}
                                {% for field in formss.visible_fields %}
                                    <td>
                                        <label for="{{field.id}}" class="form-label">{% if field.label == 'Code'%} Machine Code {% elif field.label == 'Warranty'%} Machine Warranty {% else %}{{ field.label }}{% endif %}</label>
                                                        {{ field }}
                                        {% for error in field.errors %}
                                            <span style="color: red">{{ error }}</span>
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                                       
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        <a href="#" id="add-image-button" class="btn btn-outline-secondary add-images">Add Machine</a> <!-- id="add-inlineformsetname-button" -->
    </div>
                    {% endwith %}

                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div> <!-- end col -->        
            </div>

            
        </div>
    </div>
</div>


{% endblock %}

{% block extra_script %}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        // when user clicks add more btn of images
      $('.add-images').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-images').children().length;
          var tmplMarkup = $('#images-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-images').append(compiledTmpl);
  
          // update form count
          $('#id_images-TOTAL_FORMS').attr('value', count+1);
          $('.purchase_date').Zebra_DatePicker({
            format: 'd/m/Y'
        });
      });
      $(document).on("click",'.remove-machine',function(){
            var whichtr = $(this).closest("tr");
           
            whichtr.remove();   
      })
  });

 
</script>

<script src="https://cdn.jsdelivr.net/npm/zebra_pin@2.0.0/dist/zebra_pin.min.js"></script>
        <script src="{% static 'assets/js/zebra_datepicker.min.js' %}"></script>
        {% comment %} <script src="{% static 'assets/js/example_date.js' %}"></script> {% endcomment %}

<script>
  $(document).ready(function() {
    $('.purchase_date').Zebra_DatePicker({
        format: 'd/m/Y'
    });

   
  });
</script>
{% endblock extra_script %}