{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'assets/css/zebra_datepicker.css' %}" type="text/css">

{% endblock extra_css %}
{% block content %}
<div class="main-content">

    <div class="page-content">
        {% include 'messages.html' %}
        <div class="container-fluid">
            {% if form.errors %}
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            <div class="row" style="justify-content:center">
                <div class="col-xxl-{% if single_field %}6{% else %}12{% endif %}">
                    <div class="card  mt-4">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">{{ form_title }}</h4>
                            <span class="mdi mdi-alert mdi-18px" id="over_alert" style="color:red; display:none;font-size:18px">Complain Limit Over</span>
                        </div><!-- end card header -->  

                        <div class="card-body">
                         
                            <div class="live-preview">
                                <form action="" method="post">{% csrf_token %}
                                    <div class="row">

                                        {% for field in form %}
                                                                                    <div class="col-md-{% if single_field %}12{% else %}3{% endif %}">
                                                <!-- Input with Label -->
                                                <div class="mb-3">
                                                    <label for="{{field.id}}" class="form-label">{{ field.label }}</label>
                                                    {{ field }}
                                                    {{ field.errors }}
                                                </div>
                                                
                                            </div>

                                        {% endfor %}
                                        <div class="col-lg-6 mt-3" id="history"></div>

                                        <div class="col-lg-12 mt-3">
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light" style="width:300px"><i class="mdi mdi-check"></i> Save</button>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div> <!-- end col -->        
            </div>
            {% if show_lists %}

            <div class="row" style="justify-content:center">
                <div class="col-xxl-12 col-md-12">
                    <div class="card">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">{{ table_title }}</h4>
                            {% if statuses %}
                            <div class="flex-shrink-0 ">
                              <select class="form-select form-select-sm" aria-label=".form-select-sm example" onchange="location = this.value;">
                                  {% for status in statuses %}
                                  <option value="{% if status.0 == 0 %}{{filter_url}}{%else%}{{filter_url}}?status={{status.0}}{%endif%}" {% if request.GET.status|add:'0' == status.0 %}selected{%endif%}>{{status.1}}</option>
                                  {% endfor%}
                              </select>
                            </div>
                            {% endif %}
                        </div><!-- end card header -->

                        <div class="card-body">
                            <div id="table-search"></div>
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                </div> <!-- end col -->
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}
{% block extra_script %}

{% if show_lists %}
<script src="{% static 'assets/libs/gridjs/gridjs.umd.js' %}"></script>
<script>
    {% if technicians %}
    document.getElementById("table-search") &&
    new gridjs.Grid({
      columns: [ { 
        name: 'id',
        hidden: true
      },"Name", "Email", "Phone1", "Phone2", "Expertise", "Address", "Created Date",
      {
        name: "Actions",
        width: "100px",
        formatter: function (e, row) {
            console.log(e)
          return gridjs.html(
            `<a href='/users/technician/edit/${row.cells[0].data}/'> <i class='mdi mdi-account-edit mdi-24px'></i></a> 
            <a href="/users/technician/delete/${row.cells[0].data}/"> <i class='mdi mdi-delete-outline mdi-24px'></i></a>`
          );
        },
      },
    ],
      pagination: { limit: 5 },
      search: !0,
      data: [
        {% for technician in technicians %}
            [
            "{{ technician.id }}",
            "{{ technician.user.first_name }}",
            "{{ technician.user.email }}",
            "{{ technician.phone_1 }}",
            "{{ technician.phone_2 }}",
            "{{ technician.expertise }}",
            "{{ technician.address|truncatewords:5 }}",
            "{{ technician.created_at|date:'M d, Y' }}",

            ],
        {% endfor %}
      ],
    }).render(document.getElementById("table-search"))
    {% elif machine_types %}
    document.getElementById("table-search") &&
    new gridjs.Grid({
      columns: [ { 
        name: 'id',
        hidden: true
      },
      {
        name : "Status Hidden",
        hidden: true
      },"Machine Type",{
        name: "Status",
        formatter: function (e, row) {
            console.log(row.cells[1].data)
         if (row.cells[1].data == 1){
            return gridjs.html(
                '<span class="badge badge-soft-success">Active</span>'
              );
         }else{
            return gridjs.html(
                '<span class="badge badge-soft-danger">In Active</span>'
              );
         }
          
        },
      }, "Created Date",
      {
        name: "Actions",
        width: "100px",
        formatter: function (e, row) {
          return gridjs.html(
            `<a href='/customers/machine_type/edit/${row.cells[0].data}/'> <i class='mdi mdi-square-edit-outline mdi-24px'></i></a> 
            <a href="/customers/machine_type/delete/${row.cells[0].data}/"> <i class='mdi mdi-delete-outline mdi-24px'></i></a>`
          );
        },
      },
    ],
      pagination: { limit: 5 },
      search: !0,
      data: [
        {% for type in machine_types %}
            [
            "{{ type.id }}",
            "{{ type.status }}",
            "{{ type }}",
            "",
            "{{ type.created_at|date:'M d, Y' }}",

            ],
        {% endfor %}
      ],
    }).render(document.getElementById("table-search"))

    {% elif complaints %}
    document.getElementById("table-search") &&
    new gridjs.Grid({
      columns: [ { 
        name: 'id',
        hidden: true
      },
      {
        name : "Status Hidden",
        hidden: true
      },
      {
        name : "Repeated Hidden",
        hidden: true
      },
      "Date",
      "Machine",
      "Company",
      "Technician",
      "Issue",
      {
        name: "Status",
        formatter: function (e, row) {
         if (row.cells[1].data == 1){
            return gridjs.html(
                '<span class="badge badge-soft-primary">New</span>'
              );
         }else if(row.cells[1].data == 2){
            return gridjs.html(
                '<span class="badge badge-soft-secondary">Pending</span>'
              );
         }
         else if(row.cells[1].data == 3){
          return gridjs.html(
              '<span class="badge badge-soft-warning">Running</span>'
            );
        }
        else if(row.cells[1].data == 4){
          return gridjs.html(
              '<span class="badge badge-soft-success">Completed</span>'
            );
         }
          
        },
      },"address", {
        name: "Repeated",
        width: "100px",
        formatter: function (e, row) {
         
            if(row.cells[2].data == "0" || row.cells[2].data == "1"){
              return gridjs.html(
                `
                <span class="badge border border-primary text-primary">Single Time</span>
          
                `
                );
             }else{
              return gridjs.html(
                `
                <span class="badge bg-danger ms-1"> ${row.cells[2].data} Times</span>

                `
                );
             }
           

        },
      }, "Created Date",
      {
        name: "Actions",
        width: "100px",
        formatter: function (e, row) {
          return gridjs.html(
            `<a href='/complaints/complaints/edit/${row.cells[0].data}/'> <i class='mdi mdi-square-edit-outline mdi-24px'></i></a> 
            <a href="/complaints/complaints/delete/${row.cells[0].data}/"> <i class='mdi mdi-delete-outline mdi-24px'></i></a>`
          );
        },
      },
    ],
      pagination: { limit: 5 },
      search: !0,
      data: [
        {% for complaint in complaints %}
            [
            "{{ complaint.id }}",
            "{{ complaint.status }}",
            "{{ complaint.repeated_today }}",
            "{{ complaint.date|date:'M d, Y' }}",
            "{{ complaint.machine.code }}",
            "{{ complaint.customer.company_name }}",
            "{{ complaint.technician.user.first_name }}",
            "{{ complaint.issue }}",
            "",
            "{{ complaint.address|truncatewords:5 }}",
            "",

            "{{ complaint.created_at|date:'M d, Y' }}",


            ],
        {% endfor %}
      ],
    }).render(document.getElementById("table-search"))


    {% elif payments %}
    document.getElementById("table-search") &&
    new gridjs.Grid({
      columns: [ { 
        name: 'id',
        hidden: true
      },
      "Company",
      "Machine",
      "Date",
      "Amount",
      "Created Date",
      {
        name: "Actions",
        width: "100px",
        formatter: function (e, row) {
          return gridjs.html(
            `<a href='/complaints/payments/edit/${row.cells[0].data}/'> <i class='mdi mdi-square-edit-outline mdi-24px'></i></a> 
            <a href="/complaints/payments/delete/${row.cells[0].data}/"> <i class='mdi mdi-delete-outline mdi-24px'></i></a>`
          );
        },
      },
    ],
      pagination: { limit: 5 },
      search: !0,
      data: [
        {% for payment in payments %}
            [
            "{{ payment.id }}",
            "{{ payment.machine.code }}",
            "{{ payment.customer.company_name }}",
            "{{ payment.date|date:'M d, Y' }}",
            "{{ payment.amount }}",
            "{{ payment.created_at|date:'M d, Y' }}",


            ],
        {% endfor %}
      ],
    }).render(document.getElementById("table-search"))

    {% elif services %}
    document.getElementById("table-search") &&
    new gridjs.Grid({
      columns: [ { 
        name: 'id',
        hidden: true
      },
      { 
        name: 'Status',
        hidden: true
      },
      "Date",
      "Machine",
      "Company",
      "Technician",
      "Service",
      "In Serial No",
      "Out Serial No",


      {
        name: "Status",

        formatter: function (e, row) {
         if (row.cells[1].data == 1){
            return gridjs.html(
                '<span class="badge badge-soft-primary">Active</span>'
              );
         }else if(row.cells[1].data == 2){
            return gridjs.html(
                '<span class="badge badge-soft-success">Completed</span>'
              );
         }          
        },
      },
      "Created Date",
      {
        name: "Actions",
        width: "100px",
        formatter: function (e, row) {
          return gridjs.html(
            `<a href='/complaints/services/edit/${row.cells[0].data}/'> <i class='mdi mdi-square-edit-outline mdi-24px'></i></a> 
            <a href="/complaints/services/delete/${row.cells[0].data}/"> <i class='mdi mdi-delete-outline mdi-24px'></i></a>`
          );
        },
      },
    ],
      pagination: { limit: 5 },
      search: !0,
      data: [
        {% for service in services %}
            [
            "{{ service.id }}",
            "{{ service.status }}",

            "{{ service.date|date:'M d, Y' }}",
            "{{ service.machine.code }}",
            "{{ service.customer.company_name }}",
            "{{ service.technician.user.first_name }}",
            "{{ service.service_details }}",

            "{{ service.in_serial_no }}",
            "{{ service.out_serial_no }}",



            "",
            "{{ service.created_at|date:'M d, Y' }}",


            ],
        {% endfor %}
      ],
    }).render(document.getElementById("table-search"))
    {% endif %}
</script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
  $("#id_customer").change(function () {
    var url = "{% url 'getMachinesByCustomer' %}"  // get the url of the `load_cities` view
    var customer_id = $(this).select2('data')[0]['id'];  // get the selected country ID from the HTML input
    var machine_id = $("#id_machine").select2('data')[0]['id'];

    if(!machine_id){
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'customer_id': customer_id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_machine").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
    }
    

    var address_url = "{% url 'getAddressByCustomer' %}"
    $.ajax({                       // initialize an AJAX request
      url: address_url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'customer_id': customer_id       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
       $("#id_address").val(data['address'])  // replace the contents of the city input with the data that came from the server
      }
    });
  });


  $("#id_machine").change(function () {
 
    var url = "{% url 'getComplaintOutcomeByMachine' %}"  // get the url of the `load_cities` view
    var machine_id = $(this).select2('data')[0]['id'];  // get the selected country ID from the HTML input
    var customer_id = $("#id_customer").select2('data')[0]['id'];

    var request_for = "outcomes"

    if(!customer_id){
      $.ajax({                       // initialize an AJAX request
        url: "{% url 'getCompanyByMachine' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'machine_id': machine_id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_customer").html(data);  
          var firstNonEmptyOption = $("#id_customer option[value!='']:first");
          if (firstNonEmptyOption.length > 0) {
            firstNonEmptyOption.prop('selected', true);
          }
          $("#id_customer").trigger("change")

          //---------------------
          var s_customer_id = $("#id_customer").select2('data')[0]['id'];
          $.ajax({                       // initialize an AJAX request
            url: "{% url 'getMachinesByCustomer' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'customer_id': s_customer_id       // add the country id to the GET parameters
            },
            success: function (data) {   
              $("#id_machine").html(data); 
              var selectedMachineId = $(`#id_machine option[value='${machine_id}']`);
              if (selectedMachineId.length > 0) {
                selectedMachineId.prop('selected', true);
              }
            }
          });
        }
      });
    }
    
    {% if request.path == "/complaints/services/" %}
    request_for = "services"
    {% endif %}

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'machine_id': machine_id  ,
        'request_for':request_for     // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#history").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

    over_url = "{% url 'checkIfLimitOver' %}"
    $.ajax({                       // initialize an AJAX request
      url: over_url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'machine_id': machine_id
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        console.log(data['limit_over']) 
        if(data['limit_over'] == true){
          $("#over_alert").css('display','block')
        } else{
          $("#over_alert").css('display','none')

        }
      }
    });
  });



</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/zebra_pin@2.0.0/dist/zebra_pin.min.js"></script>
        <script src="{% static 'assets/js/zebra_datepicker.min.js' %}"></script>
        {% comment %} <script src="{% static 'assets/js/example_date.js' %}"></script> {% endcomment %}

<script>
  $(document).ready(function(){
   
      $("#id_machine").select2();
      $("#id_customer").select2();
      $("#id_technician").select2();

   
  })
  $(document).ready(function() {
    $('#id_date').Zebra_DatePicker({
        format: 'd/m/Y'
    });
  });
</script>

{% endif %}
{% endblock extra_script %}