<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            {% if form.errors %}
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            {% for field in form %}
                

                <div class="col-md-4 col-lg-4 col-sm-6 mt-3">
                    <!-- Input with Label -->
                    <div>
                        <label for="labelInput" class="form-label">{{ field.label }}</label>
                        {{field}}
                        {{ field.errors }}
                    </div>
                    
                </div>
            {% endfor %}
        </div>
        <div class="mt-4">
            <button class="btn-theme-one solid-btn w-50 text-center" type="submit">Save Details</button>
        </div>
    </form>
</body>
</html>