{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'assets/css/zebra_datepicker.css' %}" type="text/css">

{% endblock extra_css %}
{% block content %}

<div class="main-content">

    <div class="page-content">
        {% include 'messages.html' %}
        <div class="container-fluid">
            {% if form.errors %}
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            
            <div class="row" style="justify-content:center">
                <div class="col-xxl-{% if single_field %}6{% else %}12{% endif %}">
                    <div class="card  mt-4">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">{{ form_title }}</h4>
                            <span class="mdi mdi-alert mdi-18px" id="over_alert" style="color:red; display:none;font-size:18px">Complain Limit Over</span>
                        </div><!-- end card header -->  

                        <div class="card-body">
                            <div class="live-preview">
                                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="row">

                                        {% for field in form %}
                                             <div class="col-md-{% if single_field %}12{% else %}3{% endif %}">
                                                <!-- Input with Label -->
                                                <div class="mb-3">
                                                    <label for="{{field.id}}" class="form-label">{{ field.label }}</label>
                                                    {{ field }}
                                                    {{ field.errors }}
                                                </div>
                                                
                                            </div>

                                        {% endfor %}
                                        <div class="col-lg-6 mt-3" id="history"></div>

                                        <div class="col-lg-12 mt-3">
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light" style="width:300px"><i class="mdi mdi-check"></i> Save</button>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div> <!-- end col -->        
            </div>
            

            
            
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_script %}


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $("#id_ampere").parent().parent().css('display','none')
        $("#id_watt").parent().parent().css('display','none')
        $("#id_temp").parent().parent().css('display','none')
        $("#id_voltage").parent().parent().css('display','none')

    })
    $("#id_alignment").change(function(){
        var val = $(this).val()
        if(val == "True"){
            $("#id_ampere").parent().parent().css('display','block')
            $("#id_watt").parent().parent().css('display','block')
            $("#id_temp").parent().parent().css('display','block')
            $("#id_voltage").parent().parent().css('display','block')
        }else{
            $("#id_ampere").parent().parent().css('display','none')
            $("#id_watt").parent().parent().css('display','none')
            $("#id_temp").parent().parent().css('display','none')
            $("#id_voltage").parent().parent().css('display','none')
        }
    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/zebra_pin@2.0.0/dist/zebra_pin.min.js"></script>
        <script src="{% static 'assets/js/zebra_datepicker.min.js' %}"></script>
        {% comment %} <script src="{% static 'assets/js/example_date.js' %}"></script> {% endcomment %}

<script>
  $(document).ready(function(){
   
      $("#id_machine").select2();
      $("#id_customer").select2();
      $("#id_technician").select2();

   
  })
  $(document).ready(function() {
    $('#id_date').Zebra_DatePicker({
        format: 'd/m/Y'
    });
  });
</script>


{% endblock extra_script %}