{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            {% comment %} <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">CRM</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                                <li class="breadcrumb-item active">CRM</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div> {% endcomment %}
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-12">
                    <div class="card crm-widget">
                        <div class="card-body p-0">
                            <div class="row row-cols-xxl-5 row-cols-md-3 row-cols-1 g-0">
                                <div class="col">
                                    <div class="py-4 px-3">
                                        <h5 class="text-muted text-uppercase fs-13">Total Customers </h5>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <i class="mdi mdi-account mdi-36px text-muted"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h2 class="mb-0"><span class="counter-value" data-target="{{total_customers}}">{{total_customers}}</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col">
                                    <div class="mt-3 mt-md-0 py-4 px-3">
                                        <h5 class="text-muted text-uppercase fs-13">Total Sold Machines
                                            <a href="{% url 'machines' %}"><i class="mdi mdi-eye text-success fs-18 float-end align-middle"></i></a>
                                        </h5>

                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <i class="mdi mdi-locker mdi-36px text-muted"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h2 class="mb-0"><span class="counter-value" data-target="{{total_machines|length}}">{{total_machines|length}}</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col">
                                    <div class="mt-3 mt-md-0 py-4 px-3">
                                        <h5 class="text-muted text-uppercase fs-13">Today's Complaints</h5>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <i class="mdi mdi-format-list-checks mdi-36px text-muted"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h2 class="mb-0"><span class="counter-value" data-target="{{todays_complaints}}">{{todays_complaints}}</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col">
                                    <div class="mt-3 mt-md-0 py-4 px-3">
                                        <h5 class="text-muted text-uppercase fs-13">This Month Complaints</h5>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <i class="mdi mdi-format-list-checks mdi-36px text-muted"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h2 class="mb-0"><span class="counter-value" data-target="{{todays_complaints}}">{{todays_complaints}}</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                                <div class="col">
                                    <div class="mt-3 mt-md-0 py-4 px-3">
                                        <h5 class="text-muted text-uppercase fs-13">Total Machine Types</h5>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <i class="mdi mdi-tools mdi-36px text-muted"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h2 class="mb-0"><span class="counter-value" data-target="{{machine_types}}">{{machine_types}}</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div><!-- end row -->
            <div class="row">
 
                <div class="col-xxl-12">
                    <div class="card card-height-100">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Today's Complaints</h4>
                            <div class="flex-shrink-0">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" onchange="location = this.value;">
                                    {% for status in complaint_statuses %}
                                    <option value="{% url 'home' %}?status={{status.0}}" {% if request.GET.status|add:'0' == status.0 %}selected{%endif%}>{{status.1}}</option>
                                    {% endfor%}
                                </select>
                            </div>
                        </div><!-- end card header -->

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-nowrap align-middle mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Machine</th>
                                            <th scope="col">Company Name</th>
                                            <th scope="col">Company Mobile Number</th>

                                            <th scope="col">Manager Name</th>
                                            <th scope="col">Manager Mobile Number</th>

                                            <th scope="col">Technician</th>
                                            <th scope="col">Issue</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for complaint in complaints %}
                                            <tr>
                                                <td>{{ complaint.date|date:"M, d Y"}}</td>
                                                <td>{{ complaint.machine.code}}</td>
                                                <td>{{ complaint.customer.company_name}}</td>
                                                <td>{{ complaint.customer.company_mobile_no}}</td>

                                                <td>{{ complaint.customer.manager_name}}</td>
                                                <td>{{ complaint.customer.manager_mobile_no}}</td>

                                                <td>{{ complaint.technician.user.first_name}}</td>
                                                <td>{{ complaint.issue}}</td>
                                                 {% if complaint.status == 1 %}
                                               <td><span class="badge badge-soft-primary">{{complaint.get_status_display}}</span></td>
                                               {% elif complaint.status == 2 %}
                                               <td><span class="badge badge-soft-secondary">{{complaint.get_status_display}}</span></td>

                                               {% elif complaint.status == 3 %}
                                               <td><span class="badge badge-soft-warning">{{complaint.get_status_display}}</span></td>

                                               {% elif complaint.status == 4 %}
                                               <td><span class="badge badge-soft-success">{{complaint.get_status_display}}</span></td>

                                               {% endif %}
                                    
                                            </tr>
                                        {% endfor %}
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->
                            </div><!-- end table responsive -->
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-xxl-6">
                    <div class="card">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Warranty Check</h4>
                            
                        </div><!-- end card header -->
                        <div class="card-body pt-0">
                            <ul class="list-group list-group-flush border-dashed">
                                {% for machine in ending_months %}
                                <li class="list-group-item ps-0">
                                    <div class="row align-items-center g-3">
                                        <div class="col-auto">
                                            <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3 shadow">
                                                <div class="text-center">
                                                    <h5 class="mb-0">{{ machine.warranty_end_date|date:'d' }}</h5>
                                                    <div class="text-muted">{{ machine.warranty_end_date|date:'D' }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h5 class="text-muted mt-0 mb-1 fs-13">{{ machine.warranty_end_date|date:'M Y' }}</h5>
                                            <a href="#" class="text-reset fs-14 mb-0"><span style="font-weight:bold">Company:</span> {{ machine.customer.company_name }} <span style="font-weight:bold">Mobile No:</span> {{ machine.customer.company_mobile_no }} <span style="font-weight:bold">Machine:</span> {{ machine.code }}</a>
                                        </div>
                                        
                                    </div>
                                    <!-- end row -->
                                </li>
                                {% endfor %}
                            </ul><!-- end -->
                            
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

   
</div>
{% endblock content %}

{% block extra_script %}
<script src="{% static 'assets/libs/gridjs/gridjs.umd.js' %}"></script>

<script>
    {% if total_machines %}
    document.getElementById("table-search") &&
        new gridjs.Grid({
        columns: [ { 
            name: 'id',
            hidden: true
        },"Code","Company Name", "Company Mobile No","Purchase Date", "Warranty", "Warranty Ends this Month", "Total Complaints", {
            name: "Check Complaints",
            width: "100px",
            formatter: function (e, row) {
              return gridjs.html(
                `<form action='/reports/complaints/' method="post">{% csrf_token %}
                    <input type="hidden" name="machine" value="${row.cells[0].data}" />
                    <button type="submit" style="border:none;padding:0;background:none"><i class="mdi mdi-eye mdi-24px"></i></button>
                </form>`
              );
            },
          }
        ],
        pagination: { limit: 5 },
        search: !0,
        data: [
            {% for machine in total_machines %}
                [
                "{{ machine.id }}",
                "{{ machine.code }}",
                "{{ machine.customer.company_name }}",
                "{{ machine.customer.company_mobile_no }}",
                "{{ machine.purchase_date|date:'M d, Y' }}",
                "{{ machine.get_warranty_display}}",
               
                "{{ machine.warranty_ends_this_month }}",
    
                "{{ machine.total_complaints}}",
                ""
                ],
            {% endfor %}
        ],
        }).render(document.getElementById("table-search"))
    {% endif %}
</script>
{% endblock extra_script %}